{% extends 'base.html' %}
{% load static %}


{% block content %}


   <!-- HERO
    ================================================== -->
    <section class="page-banner-area page-about">
        <div class="overlay"></div>
        <!-- Content -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-12 col-12 text-center">
                    <div class="page-banner-content">
                        <h1 class="display-4 font-weight-bold">Who are we</h1>
                        <p>Be avictor not a  vitcim</p>
                    </div>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>



<section class="section" id="process">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 text-center">
                    <div class="section-heading">
                        <!-- Heading -->
                        <h2 class="section-title">
                            About  Us
                        </h2>

                        <!-- Subheading -->
                        <p>
                            Victorz security company is a licensed and insured security services provider offerin unarmed and armed uniformed security guards
                            Ourheadquaters are located inthe vibrant city of bulawayo. where the company first  opened its  doors to ofer security services to commercial , industrial
                            and government organisation
                        </p>

                    </div>
                </div>
            </div> <!-- / .row -->

            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="process-block">
                        <img src="images/process/process-1.jpg" alt="" class="img-fluid">

                        <h3>Our vision</h3>
                        <p>To become a leading provider of security services at an international levelwith quality in personel training and services</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="process-block">
                        <img src="images/process/process-3.jpg" alt="" class="img-fluid">

                        <h3>Our Values</h3>
                        <p>The  foundation of our bussiness is integrity. We strive to earn the trust of our colleaagues,customers and shareholders
                            by honoring our commitents.doing the right the right things for the right rasons and by speaking up when we see something wrong.we strive to engageour workforce
                            to create outstanding priducts. provide unparalled service and to achieve the best safety record by continuo
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="process-block">
                        <img src="images/process/process-2.jpg" alt="" class="img-fluid">

                        <h3>Mission statement</h3>
                        <p>To take up the burden of watching and devising strategies that safeguard you and your 
                            prized possessions.The emphasi being in providing all our customers with uninterrrupted peace of mind
            .</p>
                    </div>
                </div>
               
            </div>
        </div>
    </section>


<section class="section" id="projects-wrap">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h1 class="text-white">We are trying to deliver 100% quality product and success their business to achieve ultimate goal.</h1>
                    </div>
                </div>
                <div class="col-lg-6">
                    <p class="lead text-white">The  foundation of our bussiness is integrity. We strive to earn the trust of our colleaagues,customers and shareholders
                        by honoring our commitents.doing the right the right things for the right rasons and by speaking up when we see something wrong.we strive to engageour workforce
                        to create outstanding priducts. provide unparalled service and to achieve the best safety record by continuo </p>
                </div>
            </div>
        </div>
    </section>

    

 {%  endblock %}