{% extends 'base.html' %}
{% load static %}


{% block content %}
    
    <section class="page-banner-area page-service">
        <div class="overlay"></div>
        <!-- Content -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-12 col-12 text-center">
                    <div class="page-banner-content">
                        <h1 class="display-4 font-weight-bold">Our Security services</h1>
                        <p>We'd love to talk about how we can help you.</p>
                    </div>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>


<section class="section" id="service">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-lg-7 pl-4 text-center">
                    <div class="service-heading">
                        <h1>Get a better deal and start saving money today</h1>
                    </div>
                </div>
            </div>
            
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="service-block media">
                        <div class="service-icon">
                            <i class="ti-reload"></i>
                        </div>
                        <div class="service-inner-content media-body">
                            <h4>Securiy Risk Assessment</h4>
                            <p>We assess premises and give the level of the security threat.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 mb-3 col-md-6">
                    <div class="service-block media">
                        <div class="service-icon">
                            <i class="ti-cloud"></i>
                        </div>
                        <div class="service-inner-content media-body">
                            <h4>Residental Security</h4>
                            <p>We watch your home 24\7.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 mb-3 col-md-6">
                    <div class="service-block media ">
                        <div class="service-icon">
                            <i class="ti-world"></i>
                        </div>
                        <div class="service-inner-content media-body">
                            <h4>Indusrial Security</h4>
                            <p>We provide industrial security.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 mb-3 col-md-6">
                    <div class="service-block media ">
                        <div class="service-icon">
                            <i class="ti-server"></i>
                        </div>
                        <div class="service-inner-content media-body">
                            <h4>Commercial Security</h4>
                            <p>We provide the service for commecial premises.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6">
                    <div class="service-block media">
                        <div class="service-icon">
                            <i class="ti-world"></i>
                        </div>
                        <div class="service-inner-content media-body">
                            <h4>Alarm Installation</h4>
                            <p>For arlam installations and monitoring.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6">
                    <div class="service-block media">
                        <div class="service-icon">
                            <i class="ti-cloud"></i>
                        </div>
                        <div class="service-inner-content media-body">
                            <h4>video surveillance</h4>
                            <p>24 hour survailance.</p>
                        </div>
                    </div>
                </div>
            </div>   
            
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="pl-3">Want to know more about this? <a href="#">Contact us</a></p>
                </div>
            </div>    
        </div>
    </section>



 {% endblock %}